---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   15px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     45px;

$top-bar-height:   56px;
$top-icon-padding: ($top-bar-height - 20px)/2;

$text-color:            #111;
$background-color:      #fdfdfd;
$background-color-dark: #333;
$brand-color:           #2a7ae2;

$code-border-radius: 3px;

$grey-color:            #828282;
$grey-color-very-light: lighten($grey-color, 45%);
$grey-color-light:      lighten($grey-color, 40%);
$grey-color-dark:       darken($grey-color, 15%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
