<footer class="site-footer">

  <div class="wrapper">
    <cite>
      Copyright &copy 2014 <a href="//eladshahar.com">Elad Shahar</a> • All rights reserved •
      <a href="http://feeds.feedburner.com/eladshahar" title="RSS Feed"><strong>RSS</strong></a>
      <br>
      <a href="mailto:{{ site.email }}"><strong>{{ site.email }}</strong></a> •
      Twitter: <a href="https://twitter.com/{{ site.twitter_username }}"><strong>@{{ site.twitter_username }}</strong></a> •
      GitHub: <a href="https://github.com/{{ site.github_username }}"><strong>{{ site.github_username }}</strong></a>
    </cite>
  </div>

</footer>

