/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    background: $background-color;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    text-align: left;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
    border-bottom: 1px dotted $brand-color;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        border-bottom-style: solid;
    }

    code {
        border-bottom: 1px dotted #2a7ae2;
    }
}



/**
 * Blockquotes
 */
blockquote {
    border-left: 4px solid $grey-color-dark;
    padding-left: $spacing-unit / 2;
    background: $grey-color-very-light;
    padding: 10px;
    letter-spacing: -0.5px;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    background: $grey-color-light;
    border-radius: $code-border-radius;
    letter-spacing: -0.5px;
    font-family: 'Inconsolata', Consolas, monospace;
}

code {
    padding: 1px 3px 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: white;
        }
    }
}


/**
 * Horizontal rules
 */

hr {
    margin: $spacing-unit 0;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}


/**
 * Tags
 */

.tag {
    padding: 1px 3px 1px 20px;
    display: inline-block;
    display: inline;
    padding: 2px 7px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
    margin: 0 5px;

    &.tag-ember {
        color: white;
        background-color: #DB725D;
    }
}

/**
 * Tables
 */

table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
}

table th {
    font-weight: bold
}

table th,
table td {
    padding: 6px 8px;
    border: 1px solid #ddd;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
