/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid black;
    min-height: $top-bar-height;
    background-color: $background-color-dark;
    color: white;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 36px;
    line-height: $top-bar-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-transform: uppercase;
    font-weight: 100;
    font-family: Roboto;
    letter-spacing: 0.5px;

    @include media-query($on-palm) {
        font-size: 24px;
    }

    strong {
        font-weight: 700;
    }

    &,
    &:hover,
    &:visited {
        color: white;
        border-bottom: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    /* Not using hamburger menu...

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }

    */
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: ($spacing-unit/2) 0;
    color: white;
    text-align: center;

    cite {
        font-family: 'Open Sans Condensed', $base-font-family;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;

        a {
            color: lighten(#1756a9, 50%);
            border-bottom-color: lighten(#1756a9, 50%);
        }
    }
}


/**
 * Social media list
 */
.contact-list,
.social-media-list {
    list-style: none;
    margin: 0;

    .icon > svg {
        width: 32px;
        height: 32px;
        @include media-query($on-palm) {
            width: 16px;
            height: 16px;
        }
    }

    .username {
        display: none;
    }

    li {
        display: inline;
    }

    a {
        border-bottom: none;
        padding: $top-icon-padding 7px $top-icon-padding 10px;
        @include media-query($on-palm) {
            padding-left: 4px;
            padding-right: 7px;
        }
    }

    .twitter a {
        &:focus,
        &:hover {
            background-color: #44AEEE;
            svg path {
                fill: whitesmoke;
            }
        }
    }

    .github a {
        &:focus,
        &:hover {
            background-color: whitesmoke;
            svg path {
                fill: #333;
            }
        }
    }

    .rss a {
        &:focus,
        &:hover {
            background-color: #EE9644;
            svg path {
                fill: whitesmoke;
            }
        }
    }
}

/* Not using hamburger menu...
@include media-query($on-palm) {
    .social-media-list {
        color: $grey-color;

        .username {
            display: inline;
        }
        .icon > svg path {
            fill: $grey-color;
        }

        li {
            display: block;
        }
    }
}
*/




/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background-color: $background-color;
}

.page-heading {
    font-size: 20px;
}

.section-heading {
    text-transform: uppercase;
    font-size: 13px;
    color: #999;
}

.post-list {
    margin-left: 0;
    list-style: none;

    a,
    a:hover {
        border-bottom: 0;
        padding: 7px 3px;
    }

    li:nth-child(even) a{
        background-color: whitesmoke;
    }

    .post-meta {
        float: right;
    }

    .post-title {
        font-size: 18px;
        line-height: 1.5;

        p {
            margin-bottom: 0;
        }
    }
}

@include media-query($on-palm) {
    .post-list .post-meta {
        float: none;
        display: block;
        margin-left: 0;

        .tag,
        .tag-separator {
            display: none;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: #999;
    text-transform: uppercase;
    padding-top: 5px;
    font-family: Roboto;
    font-weight: 300;
    margin-left: 5px;

    .tag {
        text-transform: none;
    }
}

.post-link {
    display: block;
    text-align: left;

    h2 {
        margin-bottom: 0;
    }

    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

    &:hover {
        border-left-color: #5c5c5c;
        border-right-color:#5c5c5c;
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 36px;

        @include media-query($on-laptop) {
            font-size: 32px;
        }
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
