// Site header
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;

    min-height: $top-bar-height;
    color: #fff;
    background-color: $background-color-dark;
    border-bottom: 1px solid #000;
}

.site-title {
    float: left;
    margin-bottom: 0;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 100;
    line-height: $top-bar-height;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    @include media-query($on-palm) {
        font-size: 24px;
    }

    strong {
        font-weight: 700;
    }

    &,
    &:hover,
    &:visited {
        color: #fff;
        border-bottom: 0;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;
        color: $text-color;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}



// Site footer
.site-footer {
    padding: ($spacing-unit/2) 0;
    color: #ccc;
    text-align: center;
    background-color: $background-color-dark;
    border-top: 1px solid $grey-color-light;

    cite {
        font-family: 'Open Sans Condensed', $base-font-family;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;

        a {
            color: lighten(#1756a9, 50%);
            border-bottom-color: lighten(#1756a9, 50%);
        }
    }
}


// Social media list
.contact-list,
.social-media-list {
    margin: 0;
    list-style: none;

    .icon > svg {
        width: 32px;
        height: 32px;

        @include media-query($on-palm) {
            width: 16px;
            height: 16px;
        }
    }

    .username {
        display: none;
    }

    li {
        display: inline;
    }

    a {
        padding: $top-icon-padding 7px $top-icon-padding 10px;
        border-bottom: 0;

        @include media-query($on-palm) {
            padding-right: 7px;
            padding-left: 4px;
        }
    }

    .twitter a {
        &:focus,
        &:hover {
            background-color: #44aeee;

            // scss-lint:disable NestingDepth SelectorDepth
            svg path {
                fill: #f5f5f5;
            }
        }
    }

    .github a {
        &:focus,
        &:hover {
            background-color: #f5f5f5;

            // scss-lint:disable NestingDepth SelectorDepth
            svg path {
                fill: #333;
            }
        }
    }

    .rss a {
        &:focus,
        &:hover {
            background-color: #ee9644;

            // scss-lint:disable NestingDepth SelectorDepth
            svg path {
                fill: #f5f5f5;
            }
        }
    }
}

// Page content
.page-content {
    padding: $spacing-unit 0;
    background-color: $background-color;
}

.page-heading {
    font-size: 20px;
}

.section-heading {
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
}

.post-list {
    margin-left: 0;
    list-style: none;

    a,
    a:hover {
        padding: 7px 3px;
        border-bottom: 0;
    }

    li:nth-child(even) a {
        background-color: #f5f5f5;
    }

    .post-meta {
        float: right;
    }

    .post-title {
        font-size: 18px;
        line-height: 1.5;

        p {
            margin-bottom: 0;
        }
    }
}

@include media-query($on-palm) {
    .post-list .post-meta {
        display: block;
        float: none;
        margin-left: 0;

        .tag,
        .tag-separator {
            display: none;
        }
    }
}

.post-meta {
    padding-top: 5px;
    margin-left: 5px;
    font-family: Roboto;
    font-size: $small-font-size;
    font-weight: 300;
    color: #999;
    text-transform: uppercase;

    .tag {
        text-transform: none;
    }
}

.post-link {
    display: block;
    text-align: left;

    border-right: 4px solid transparent;
    border-left: 4px solid transparent;

    &:hover,
    &:active {
        border-right-color: #5c5c5c;
        border-left-color: #5c5c5c;
    }

    h2 {
        margin-bottom: 0;
    }
}



// Posts
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: -1px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 30px;
        }
    }

    h2 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }

    h4 {
        font-size: 16px;

        @include media-query($on-laptop) {
            font-size: 15px;
        }
    }
}
